.table {
  width: 100%;
}

.td, .th {
  padding: 0.4em;
}

.th {
  text-align: left;
}

.unitsCell {
  padding: 0.4em;
  text-align: center;
}

.row:nth-child(odd) {
  background-color: #d4eafc;
}

.row:nth-child(even) {
  background-color: #b3ddff;
}

.row:hover {
  cursor: pointer;
  background-color: #8acbff;
}